# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Dependencies
.env
.venv
env/
venv/
ENV/
*.bak/

# Django-specific files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# VS Code settings and workspace
.vscode/
.history/
*.code-workspace

# OS-specific temporary files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# DigitalOcean / Render artifacts
.render/
